

*{
   
}

.navbar{
    background-color: white ;
    border: 3px solid #006a71;
    
}
.navli, .navli:hover{
color :grey;
text-decoration: none;

}

.card{
    padding: 10px;
   
}
.cartext {
    
    justify-content: flex-end;

}
.login li{
    margin :10px ;
}

.img{

}

.font{
    font-family: 'Syne Mono', monospace;
}

